.header,
.logoIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.header {
  width: 100%;
  right: 0;
  background-color: var(--color-slateblue);
}
.logoIcon {
  width: 15.63%;
  right: 84.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.inputEmail,
.topbarForgotPassword {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.topbarForgotPassword {
  cursor: pointer;
  padding: 0;
  height: 10.1%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 89.9%;
  left: 0;
}
.inputEmail {
  top: calc(50% - 43px);
  left: calc(50% - 263px);
}
.frameChild {
  position: relative;
  background-color: var(--color-slateblue);
  border: 1px solid var(--color-slateblue);
  box-sizing: border-box;
  width: 196px;
  height: 46px;
}
.sendLinkButtonInner {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 41.2px);
  left: calc(50% - 134.25px);
  width: 268.5px;
  height: 82.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sendLink {
  position: absolute;
  top: calc(50% - 25.2px);
  left: calc(50% - 93.45px);
  font-size: var(--font-size-xl);
  font-family: var(--font-inika);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 135px;
  height: 33px;
}
.sendLinkButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% + 87px);
  left: calc(50% - 112px);
  width: 268.5px;
  height: 82.4px;
}
.forgotPassword1 {
  position: absolute;
  height: 47.5%;
  top: 0;
  left: calc(50% - 332px);
  display: inline-block;
  width: 663.7px;
}
.lineSeperaterIcon {
  position: absolute;
  height: 1.9%;
  width: 100%;
  top: 98.1%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.layout {
  position: absolute;
  height: 12.02%;
  top: 20.55%;
  bottom: 67.43%;
  left: calc(50% - 640px);
  width: 1280px;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vectorWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.49%;
  width: 2.97%;
  top: 15.14%;
  right: 94.77%;
  bottom: 81.37%;
  left: 2.27%;
}
.forgotPassword {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: 64px;
  color: var(--color-slateblue);
  font-family: var(--font-inika);
}
